# Essential Packages
numpy
pandas
scipy
scikit-learn
matplotlib
seaborn

# Time Series Specific
statsmodels
pmdarima
tsfresh

# Machine Learning & Deep Learning
xgboost
lightgbm
torch
tensorflow
prophet


# MLOps & Automation
mlflow
dvc
hydra-core

